.container {
  display: flex;
  width: 100%;
  background: #1b1b1b;
  border-radius: 100px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  position: relative;

  transition: background 0.3s ease-in-out;
}

.container:hover {
  background: #fd4b4b;
}

.container:hover:before {
  opacity: 1;
}

.container:before {
  content: "";
  position: absolute;

  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100px;
  border: 2px solid #ffffff33;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
