.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle {
  position: fixed;
  width: 100%;
  top: 50%;
  right: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: 9000;
  pointer-events: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentCounter {
  font-weight: 400;
  font-size: 54px;
  color: var(--text-primary);
}

.highCounter {
  color: var(--color-yellow);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.svgBubble {
  display: flex;
  width: 44px;
  height: 44px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  backdrop-filter: blur(20px);
  transition: transform 0.2s ease-in-out;
}

.svgBubble:hover {
  transform: scale(1.1);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.display[data-player="player1"] {
  flex-direction: column;
}

.display[data-player="player2"] {
  flex-direction: column-reverse;
}

.playerCont {
  --color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--color);
  margin-bottom: 15px;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.playerScore {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--color-primary);
  color: var(--color);
}

.playerCont[data-player="player1"] {
  --color: var(--color-red);
}

.playerCont[data-player="player2"] {
  --color: var(--color-blue);
}

.playerCont[data-current="true"] {
  opacity: 1;
}

/* MenuICON */
.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  width: 18px;
  position: relative;
  cursor: pointer;
  z-index: 1002;
  transition: transform 0.4s cubic-bezier(0.24, 1.04, 0.57, 1);
}

.menuIcon span {
  display: inline-block;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--text-primary);
  transition: all 0.4s cubic-bezier(0.24, 1.04, 0.57, 1);
  transform-origin: left;
}

.menuIcon[data-active="true"] {
  transform: translateX(3px);
}

.menuIcon[data-active="true"] span:nth-of-type(1) {
  transform: rotate(45deg);
}

.menuIcon[data-active="true"] span:nth-of-type(2) {
  width: 0;
  opacity: 0;
}

.menuIcon[data-active="true"] span:nth-of-type(3) {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .middle {
    padding: 0 15px;
    flex-direction: row-reverse;
    top: 15px;
    transform: translateY(0);
  }
}
