.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
