.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentCounter {
  font-weight: 400;
  font-size: 54px;
  color: #ffffff;
}

.highCounter {
  color: #fbff2f;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.svgBubble {
  display: flex;
  width: 44px;
  height: 44px;
  border: 2px solid #ffffff80;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.svgBubble:hover {
  transform: scale(1.1);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.display[data-player="player1"] {
  flex-direction: column;
}

.display[data-player="player2"] {
  flex-direction: column-reverse;
}

.playerCont {
  --color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--color);
  margin-bottom: 15px;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.playerScore {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #1b1b1b;
  color: var(--color);
}

.playerCont[data-player="player1"] {
  --color: #ff5656;
}

.playerCont[data-player="player2"] {
  --color: #4160ff;
}

.playerCont[data-current="true"] {
  opacity: 1;
}
