.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  gap: 20px;
  padding-top: 15vh;
  background: #242424;
}

.cards-cont {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.percentage-cont {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 20px;
  width: 40%;
  min-width: 600px;
}

.descrip-cont {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 10px;
}

.descrip-cont p {
  font-size: 31px;
  color: white;
  text-align: center;
}

.percentage-cont span {
  font-size: 54px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .descrip-cont p {
    font-size: 18px;
  }

  .percentage-cont {
    flex-direction: column;
  }
}
