@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600&display=swap");
@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  border: 0;
}

.g-container {
  display: flex;
  width: 75%;
  max-width: 1600px;
  position: relative;
}

@media (max-width: 768px) {
  .g-container {
    width: 100%;
  }
}

/* SCROLL */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: var(--color-primary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-red);
}
