@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600&display=swap");

:root {
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.g-container {
  display: flex;
  width: 75%;
  max-width: 1600px;
  position: relative;
}
